bson==0.5.10
datefinder==0.7.1
datetime==4.3
google-api-core==2.6.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.53.2
numpy==1.22.0
oauthlib==3.2.2
openai==0.11.3
pymongo==4.6.3
requests==2.31.0
scipy==1.11.1
speechrecognition==3.8.1
streamlit==1.30.0
urllib3==1.26.18
