bson==0.5.10
datefinder==0.7.1
datetime==4.3
google-api-core==2.6.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
grpcio==1.41.1
numpy==1.21.3
oauthlib==3.2.0
openai==0.11.3
pymongo==4.0.1
requests==2.26.0
scipy==1.7.3
speechrecognition==3.8.1
streamlit==1.10.0
urllib3==1.26.8
